body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.column1 {
  float: left;
  width: 50%;
  margin-top: 20px;
  /* margin: 0; */
  padding: 1px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}
.custom-width {
  flex: 0 0 auto;
  width: 1250px;
  /* width:  83.33%; 5/6 of the available width */
}
.results-carousel .item {
  /* margin: 5px; */
  overflow: hidden;
  /* padding: 20px; */
  font-size: 24;
  width: 100%;
  align-items: center;
}
.caption-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 1150px;
}
.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}



/* video grid  */
.video-grid {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  gap: 2px; /* Adjust the gap between videos as needed */
}


/* video grid  */
.video-grid2 {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
  gap: 2px; /* Adjust the gap between videos as needed */
}

.video-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  /* height: 350px; /* Set the desired width */
  /* padding-bottom: 350px; */
  /* overflow: hidden; */
}


.video-wrapper video {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-wrapper .hover-video {
  display: none;
}

.video-wrapper .overlay-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: "Chalkduster";
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5); /* White color with transparency */
  padding: 0px; /* Padding around the text */
  border-radius: 10px; /* Rounded border radius */
  width: 100%;
}

.video-wrapper:hover .default-video {
  display: none;
}

.video-wrapper:hover .hover-video {
  display: block;
}

.video-wrapper:hover .overlay-text {
  opacity: 1;
}


.video-wrapper video::-webkit-media-controls {
  display: none !important;
}

.video-wrapper video::-webkit-media-controls-enclosure {
  display: none !important;
}

.video-wrapper video::-webkit-media-controls-panel {
  display: none !important;
}

.video-wrapper video::-webkit-media-controls-play-button {
  display: none !important;
}




.video-grid-wide {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 1px; /* Adjust the gap between videos as needed */
}

.video-warpper-wide {
  position: relative;
  width: 350px; /* Set the desired width */
  height: 350px;
  overflow: hidden;
}

.video-warpper-wide video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-warpper-wide .hover-video {
  display: none;
}

.caption-vid {
  display: inline-block;
}

.video-warpper-wide .overlay-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  font-family: "Chalkduster";
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;

}

.video-warpper-wide:hover .default-video {
  display: none;
}

.video-warpper-wide:hover .hover-video {
  display: block;
}

.video-warpper-wide:hover .overlay-text {
  opacity: 1;
}


.video-warpper-wide video::-webkit-media-controls {
  display: none !important;
}

.video-warpper-wide video::-webkit-media-controls-enclosure {
  display: none !important;
}

.video-warpper-wide video::-webkit-media-controls-panel {
  display: none !important;
}

.video-warpper-wide video::-webkit-media-controls-play-button {
  display: none !important;
}

.carousel {
  display: flex;
  justify-content: center;
}